swagger: '2.0'
info:
  description: List of page365 api for use in application both android and iOS.
  version: 1.0.0
  title: Page365
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: page365.net
tags:
  - name: signin
    description: Everything about signin to use page365
  - name: account
    description: Page365 user account detail
  - name: conversation
    description: Conversation between page and user
  - name: customer
    description: Customer api
  - name: product
    description: Page product api
  - name: order
    description: Ordering api
  - name: setting
    description: Every api about setting
schemes:
  - https
paths:
  /session/mobile/facebook_login_details:
    get:
      tags:
        - signin
      summary: Get facebook permission for login and start using page365 app
      description: ''
      responses:
        '200':
          schema:
            $ref: '#/definitions/Facbook_Permission'
          description: OK
  /session/mobile:
    post:
      tags:
        - signin
      summary: Start page365 app session
      description: >-
        Need to call this 2 time first you will get 'Waiting' now wait for 0.2
        sec and then call again you will get 'Success' along with cookie. From
        now on when you try to call another page 365 api add 'Cookie' key to
        header with value '_page365_session + page365 session cookie'
      parameters:
        - in: query
          name: user_fbid
          type: string
          required: true
        - in: query
          name: access_token
          type: string
          required: true
        - in: query
          name: name
          type: string
          required: true
          description: Facebook user full name
        - in: query
          name: email
          type: string
          required: true
        - in: query
          name: device_type
          type: string
          enum:
            - ios
            - android
          required: true
        - in: query
          name: device_token
          type: string
          required: true
      responses:
        '200':
          schema:
            $ref: '#/definitions/Page365_Signin'
          description: OK
    delete:
      tags:
        - signin
      summary: Delete page365 app session
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
      responses:
        '200':
          description: OK
  /accounts.json:
    get:
      tags:
        - account
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
      responses:
        '200':
          schema:
            $ref: '#/definitions/Accounts_Response'
          description: OK
  '/{pageID}':
    get:
      tags:
        - account
      summary: Need '.json' at the end of api path
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
        - in: path
          name: pageID
          type: string
          required: true
          description: ID of facebook page
      responses:
        '200':
          schema:
            $ref: '#/definitions/Page_Full_Detail'
          description: OK
    post:
      tags:
        - account
      summary: Use only when want to use page as a new shop for first time
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
        - in: path
          name: pageID
          type: string
          required: true
          description: ID of facebook page
      responses:
        '200':
          description: OK
  '/{pageID}/conversations.json':
    get:
      tags:
        - conversation
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
        - in: path
          name: pageID
          type: string
          required: true
      responses:
        '200':
          schema:
            $ref: '#/definitions/Conversations_Response'
          description: OK
  '/{pageID}/conversations/{conversationID}':
    get:
      tags:
        - conversation
      summary: Need '.json' at the end of api path
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
        - in: path
          name: pageID
          type: string
          required: true
          description: ID of facebook page can get from accounts.json api
        - in: path
          name: conversationID
          type: string
          required: true
          description: ID of conversation can get from conversations.json api
      responses:
        '200':
          schema:
            $ref: '#/definitions/Customer_Conversations_Response'
          description: OK
  '/{pageID}/conversations/{conversationID}/read.json':
    put:
      tags:
        - conversation
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
        - in: path
          name: pageID
          type: string
          required: true
          description: ID of facebook page can get from accounts.json api
        - in: path
          name: conversationID
          type: string
          required: true
          description: ID of conversation can get from conversations.json api
      responses:
        '200':
          description: OK
  '/{pageID}/customer.json':
    get:
      tags:
        - customer
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
        - in: path
          name: pageID
          type: string
          required: true
          description: ID of facebook page
      responses:
        '200':
          schema:
            $ref: '#/definitions/Conversations_Response'
          description: OK
  '/{pageID}/orders.json':
    get:
      tags:
        - order
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
        - in: path
          name: pageID
          type: string
          required: true
          description: ID of facebook page
      responses:
        '200':
          schema:
            $ref: '#definitions/Page_Orders_Response'
          description: OK
  '/{pageID}/customers/{customerID}/orders.json':
    post:
      tags:
        - order
      parameters:
        - in: header
          name: cookie
          type: string
          required: true
        - in: path
          name: pageID
          type: string
          required: true
          description: ID of facebook page
        - in: path
          name: customerID
          type: string
          required: true
      responses:
        '200':
          schema:
            $ref: '#definitions/Create_Order_Response'
          description: OK
  '/{pageID}/photos.json':
    get:
      tags:
        - product
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
        - in: query
          name: hidden
          type: boolean
          required: false
        - in: query
          name: page
          type: integer
          required: false
        - in: query
          name: album_id
          type: integer
          required: false
      responses:
        '200':
          schema:
            $ref: '#definitions/Photos_Response'
          description: OK
  '/{pageID}/albums.json':
    get:
      tags:
        - product
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
        - in: query
          name: hidden
          type: boolean
          required: false
        - in: query
          name: page
          type: integer
          required: false
      responses:
        '200':
          schema:
            $ref: '#definitions/Albums_Response'
          description: OK
  '/{pageID}/order_items.json':
    post:
      tags:
        - order
      summary: Add item to order
      consumes:
        - application/json
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
        - in: body
          name: body
          schema:
            type: object
            required:
              - order_id
              - photo_id
            properties:
              order_id:
                type: integer
              photo_id:
                type: integer
      responses:
        '200':
          schema:
            $ref: '#definitions/Add_Item_To_Order_Response'
          description: OK
  '/{pageID}/orders/{orderID}':
    get:
      tags:
        - order
      summary: Need to add .json at the end of api path
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: path
          name: orderID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
      responses:
        '200':
          schema:
            $ref: '#definitions/Add_Item_To_Order_Response'
          description: OK
    put:
      tags:
        - order
      summary: Need to add .json at the end of api path
      consumes:
        - application/json
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: path
          name: orderID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
        - in: body
          name: order
          schema:
            type: object
            required:
              - order
              - order_items
            properties:
              order:
                type: object
                properties:
                  bank_account_id:
                    type: string
                  customer_address:
                    type: string
                  customer_email:
                    type: string
                  customer_name:
                    type: string
                  customer_phone:
                    type: string
                  discount:
                    type: number
                  expires_on:
                    type: string
                  note:
                    type: string
                  paid_amount:
                    type: number
                  paid_date:
                    type: string
                  paid_time:
                    type: string
                  shipping_cost:
                    type: number
                  shipping_option:
                    type: string
                  stage:
                    type: string
                    enum:
                      - draft
                      - expired
                      - transferred
                      - paid
                      - unpaid
                      - shipped
                      - voided
                      - created
                  tracking_code:
                    type: string
              order_items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    note:
                      type: string
                    price:
                      type: number
                    quantity:
                      type: integer
      responses:
        '200':
          schema:
            $ref: '#definitions/Add_Item_To_Order_Response'
          description: OK
  '/{pageID}/albums/add_to_order_album.json':
    post:
      tags:
        - product
      consumes:
        - application/json
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
        - in: body
          name: body
          schema:
            type: object
            required:
              - photo_url
            properties:
              photo_url:
                type: string
      responses:
        '200':
          description: OK
  '/{pageID}/customers/{customerID}/add_product.json':
    post:
      tags:
        - order
      consumes:
        - application/json
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: path
          name: customerID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
        - in: body
          name: body
          schema:
            type: object
            required:
              - photo_url
            properties:
              photo_url:
                type: string
      responses:
        '200':
          schema:
            $ref: '#definitions/Add_Item_To_Order_Response'
          description: OK
  '/{pageID}/settings/bank_accounts/bank.json':
    get:
      tags:
        - setting
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
      responses:
        '200':
          schema:
            type: array
            items:
              type: object
              properties:
                lang:
                  type: string
                name:
                  type: string
                slug:
                  type: string
          description: OK
  '/{pageID}/settings/bank_accounts.json':
    get:
      tags:
        - setting
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
      responses:
        '200':
          schema:
            type: array
            items:
              $ref: '#definitions/Page_Bank_Account'
          description: OK
    put:
      tags:
        - setting
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
        - in: body
          name: bank_accounts
          description: Data of bank account that this to be add or update
          schema:
            type: object
            properties:
              bank_accounts:
                type: object
                properties:
                  bank_slug:
                    type: string
                  'no':
                    type: string
                  name:
                    type: string
                  enabled:
                    type: boolean
                  id:
                    type: integer
      responses:
        '200':
          schema:
            type: object
            properties:
              bankAccount:
                $ref: '#definitions/Page_Bank_Account'
          description: OK
  '/{pageID}/settings/bank_accounts/{accountID}':
    delete:
      tags:
        - setting
      summary: Need to add '.json' at the end of api path
      parameters:
        - in: path
          name: pageID
          type: string
          required: true
        - in: path
          name: accountID
          type: string
          required: true
        - in: header
          name: cookie
          type: string
          required: true
      responses:
        '200':
          schema:
            type: object
            properties:
              bankAccount:
                $ref: '#definitions/Page_Bank_Account'
          description: OK
securityDefinitions:
  petstore_auth:
    type: oauth2
    authorizationUrl: 'http://petstore.swagger.io/oauth/dialog'
    flow: implicit
    scopes:
      'write:pets': modify pets in your account
      'read:pets': read your pets
  api_key:
    type: apiKey
    name: api_key
    in: header
definitions:
  Facbook_Permission:
    type: object
    properties:
      read:
        type: array
        items:
          type: string
      publish:
        type: array
        items:
          type: string
      version:
        type: string
  Page365_Signin:
    type: object
    properties:
      status:
        type: string
  Page365_Signout:
    type: object
    properties:
      device_token:
        type: string
  Page_Full_Detail:
    type: object
    properties:
      name:
        type: string
        description: Name of account
      enabled:
        type: boolean
      ready:
        type: boolean
      state:
        type: integer
      fbid:
        type: string
      username:
        type: string
      instagram_account:
        type: string
      address:
        type: string
      phone:
        type: string
      email:
        type: string
      lang:
        type: string
        enum:
          - th
          - en
      unread_count:
        type: integer
      unread_orders_count:
        type: integer
      orders_count:
        type: integer
      created_on:
        type: string
      expires:
        type: string
      days_remaining:
        type: integer
      auto_renewal:
        type: boolean
      dedicated:
        type: boolean
      tour_state:
        type: integer
      order_expires_in:
        type: integer
      auth_path:
        type: string
      loading:
        type: boolean
      has_access_token:
        type: integer
      upgrade:
        type: string
      expired:
        type: boolean
      has_suggest_realm:
        type: boolean
      kronos_link:
        type: string
      qualified:
        type: boolean
      buy_keyword_enabled:
        type: boolean
      photo_sort:
        type: string
        enum:
          - older
          - latest
      logo:
        type: string
      credit_card_pkey:
        type: string
      payment_pending:
        type: boolean
      custom_domain:
        type: string
      in_debt:
        type: boolean
      require_fb_permissions:
        type: boolean
      support_link:
        type: string
      throttled:
        type: boolean
      auto_deliver_invoice:
        type: boolean
      omise:
        type: object
        $ref: '#/definitions/Omise'
      close_warning_new_package:
        type: boolean
      super_admin:
        type: boolean
      access_token:
        type: string
      suggest_realm_id:
        type: integer
      realm_id:
        type: integer
      all_realm:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
      last_active:
        type: string
      feature_recommed_banner:
        type: object
        properties:
          credit_card:
            type: boolean
          lead_gen:
            type: boolean
      recommend_features:
        type: array
        items:
          type: string
      alerts:
        type: array
        items:
          $ref: '#/definitions/Alert'
      sms:
        type: object
        $ref: '#/definitions/Sms'
      line_at:
        type: string
      instagram:
        type: object
        $ref: '#/definitions/Instagram'
      tags:
        type: array
        items:
          $ref: '#/definitions/Tag'
      plan:
        type: object
        $ref: '#/definitions/User_Plan_Detail'
      plans:
        type: object
        properties:
          solo:
            type: object
            $ref: '#/definitions/Plan_Detail'
          pro:
            type: object
            $ref: '#/definitions/Plan_Detail'
          unlimited:
            type: object
            $ref: '#/definitions/Plan_Detail'
          credit:
            type: integer
      assets_host:
        type: string
      badges:
        type: array
        items:
          $ref: '#/definitions/Badge'
      bank_accounts:
        type: array
        items:
          $ref: '#/definitions/Bank_Account_Detail'
      shipping_profile:
        type: string
  Accounts_Response:
    type: object
    properties:
      user:
        type: object
        $ref: '#/definitions/User_Detail'
      all:
        type: array
        items:
          $ref: '#definitions/Page_Detail'
      origin:
        type: string
      messages:
        type: object
      max_activity:
        type: integer
      loading:
        type: boolean
      env:
        type: string
      lang:
        type: string
  Omise:
    type: object
    properties:
      status_verified:
        type: string
      last_digits:
        type: string
      blocked:
        type: string
      payment_status:
        type: string
  Alert:
    type: object
    properties:
      id:
        type: integer
      title:
        type: string
      message:
        type: string
      state:
        type: string
      url:
        type: string
      confirm:
        type: string
      type:
        type: string
  Sms:
    type: object
    properties:
      credit:
        type: integer
      auto_refill_enabled:
        type: boolean
      auto_refill_amount:
        type: integer
  Instagram:
    type: object
    properties:
      auth_link:
        type: string
  Tag:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      color:
        type: string
      border_color:
        type: string
  User_Plan_Detail:
    type: object
    properties:
      name:
        type: string
      analytics_module:
        type: boolean
      questioner_mode:
        type: boolean
      line_module:
        type: boolean
      instagram_module:
        type: boolean
      export_report:
        type: boolean
      custom_domain:
        type: boolean
      max_reply_multiple:
        type: integer
      fb_app_id:
        type: string
      realm_id:
        type: integer
      can_upgrade_to:
        type: object
        properties:
          solo:
            type: boolean
          pro:
            type: boolean
          unlimited:
            type: boolean
  Plan_Detail:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      price:
        type: object
        properties:
          actual:
            type: integer
          yearly:
            type: integer
          monthly:
            type: integer
  Badge:
    type: object
    properties:
      type:
        type: string
      value:
        type: integer
      max:
        type: integer
      process:
        type: integer
      level:
        type: integer
      award:
        type: object
        properties:
          active:
            type: boolean
          received:
            type: boolean
  Bank_Account_Detail:
    type: object
    properties:
      id:
        type: integer
      slug:
        type: string
      name:
        type: string
      account_name:
        type: string
      account_number:
        type: string
  User_Detail:
    type: object
    properties:
      name:
        type: string
      fbid:
        type: string
      email:
        type: string
      trial_eligible:
        type: boolean
      admin:
        type: boolean
      lang:
        type: string
        enum:
          - th
          - en
      permissions_error:
        type: integer
      permissions_fresh:
        type: boolean
      auth_page_path:
        type: string
      support_link:
        type: string
  Page_Detail:
    type: object
    properties:
      enabled:
        type: boolean
      plan:
        type: string
      unread_count:
        type: integer
      can_access:
        type: boolean
      admin_exceed:
        type: boolean
      banned:
        type: boolean
      admin_amount:
        type: integer
      users:
        type: integer
      active_admins:
        type: string
      name:
        type: string
      username:
        type: string
      fbid:
        type: string
      profile_logo:
        type: string
      username_link:
        type: string
      likes:
        type: integer
      activities:
        type: array
        items:
          type: string
  Customer_Detail:
    type: object
    properties:
      tags:
        type: array
        items:
          $ref: '#/definitions/Tag'
      id:
        type: integer
      fbid:
        type: string
      lid:
        type: string
      name:
        type: string
      last_order:
        type: object
  Last_Message:
    type: object
    properties:
      own:
        type: boolean
      message:
        type: string
      auto:
        type: boolean
      sent:
        type: object
  Conversations_Response:
    type: object
    properties:
      customer:
        type: object
        $ref: '#definitions/Customer_Detail'
      last_message:
        type: object
        $ref: '#definitions/Last_Message'
      id:
        type: integer
      type:
        type: string
      read:
        type: boolean
      archived:
        type: boolean
      unread_count:
        type: integer
      last_active_at:
        type: string
      can_reply:
        type: boolean
  Customer_Detail_in_Conversation:
    type: object
    properties:
      id:
        type: integer
      fbid:
        type: string
      name:
        type: string
      phone:
        type: string
      note:
        type: string
      email:
        type: string
      address:
        type: string
      last_order:
        type: string
        enum:
          - expired
          - shipped
          - paid
          - created
      last_order_id:
        type: integer
      profile_picture:
        type: string
      tags:
        type: array
        items:
          $ref: '#/definitions/Tag'
      orders:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            'no':
              type: integer
            stage:
              type: string
              enum:
                - expired
                - shipped
                - paid
                - created
            total:
              type: integer
  Order_Updates:
    type: object
    properties:
      id:
        type: integer
      order_no:
        type: integer
      stage:
        type: string
        enum:
          - expired
          - shipped
          - paid
          - created
      own:
        type: boolean
      sms_sent_to:
        type: string
      paid_amount:
        type: integer
      created_at:
        type: string
  Message:
    type: object
    properties:
      customer_fbid:
        type: string
      customer_profile:
        type: string
      customer_name:
        type: string
      customer_id:
        type: integer
      id:
        type: integer
      own:
        type: boolean
      message:
        type: string
      auto:
        type: boolean
      created_at:
        type: string
      sent:
        type: boolean
      attachments:
        type: array
        items:
          type: object
          properties:
            url:
              type: string
  Customer_Conversations_Response:
    type: object
    properties:
      id:
        type: integer
      type:
        type: string
      read:
        type: boolean
      archived:
        type: boolean
      unread_count:
        type: integer
      last_active_at:
        type: string
      link:
        type: string
      can_reply:
        type: boolean
      customer:
        type: object
        $ref: '#/definitions/Customer_Detail_in_Conversation'
      order_updates:
        type: array
        items:
          $ref: '#/definitions/Order_Updates'
      last_message:
        type: object
        $ref: '#/definitions/Last_Message'
      messages:
        type: array
        items:
          $ref: '#definitions/Message'
  Customers_Response:
    type: object
    properties:
      meta:
        type: object
        properties:
          view:
            type: string
          customers_count:
            type: integer
          tags:
            type: array
            items:
              $ref: '#definitions/Tag'
      customers:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            fbid:
              type: string
            name:
              type: string
            note:
              type: string
            first_seen_at:
              type: string
            last_seen_at:
              type: string
            conversations_count:
              type: integer
            order_count:
              type: integer
            tags:
              type: array
              items:
                $ref: '#definitions/Tag'
            profile_picture:
              type: string
            facebook:
              type: boolean
            line:
              type: boolean
            line_at:
              type: boolean
            kronos:
              type: boolean
            offline:
              type: boolean
            instagram:
              type: boolean
  Page_Orders_Response:
    type: object
    properties:
      meta:
        type: object
        properties:
          expired_count:
            type: integer
          'paid_count:':
            type: integer
          shipped_count:
            type: integer
          transferred_count:
            type: integer
          orders_count:
            type: integer
          view:
            type: string
          unread_orders_count:
            type: integer
          kronos_orders_count:
            type: integer
          tour_kronos:
            type: integer
      express_type:
        type: string
      orders:
        type: array
        items:
          type: object
          properties:
            customer:
              type: object
              properties:
                name:
                  type: string
                address:
                  type: string
            id:
              type: integer
            'no':
              type: integer
            created_at:
              type: string
            stage:
              type: string
            total:
              type: integer
            tracking_code:
              type: string
            read:
              type: boolean
            credit_card:
              type: boolean
            lead:
              type: boolean
            express:
              type: boolean
            printed:
              type: boolean
            payment:
              type: object
              properties:
                amount:
                  type: integer
                time:
                  type: string
  Create_Order_Response:
    type: object
    properties:
      id:
        type: integer
      updates:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            order_no:
              type: integer
            stage:
              type: string
            own:
              type: boolean
            sms_sent_to:
              type: string
            paid_amount:
              type: integer
            created_at:
              type: string
  Photos_Response:
    type: object
    properties:
      photos:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            url:
              type: string
            thumb_url:
              type: string
            product:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                price:
                  type: integer
                photo:
                  type: string
                photo_id:
                  type: integer
                enabled:
                  type: boolean
                detail:
                  type: string
                price_before_discount:
                  type: integer
                weight:
                  type: integer
                stockable:
                  type: boolean
                variants_existed:
                  type: boolean
                variant_id:
                  type: integer
                code:
                  type: string
                stock:
                  type: object
                  properties:
                    actual:
                      type: integer
                    available:
                      type: integer
                    moves:
                      type: array
                      items:
                        type: string
  Albums_Response:
    type: object
    properties:
      albums:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            description:
              type: string
            thumbnail:
              type: string
            size:
              type: integer
            enabled:
              type: boolean
            type:
              type: string
            editable:
              type: boolean
  Add_Item_To_Order_Response:
    type: object
    properties:
      siblings:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            'no':
              type: integer
            stage:
              type: string
              enum:
                - shipped
                - paid
                - expired
                - transferred
                - draft
      shipping_options:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            account_id:
              type: integer
            name:
              type: string
            price:
              type: integer
            enabled:
              type: boolean
      id:
        type: integer
      'no':
        type: integer
      stage:
        type: string
        enum:
          - shipped
          - paid
          - expired
          - transferred
          - draft
      customer_name:
        type: string
      customer_address:
        type: string
      customer_email:
        type: string
      customer_phone:
        type: string
      note:
        type: string
      shipping_option:
        type: string
      shipping_cost:
        type: integer
      discount:
        type: integer
      subtotal:
        type: integer
      total:
        type: integer
      created_at:
        type: string
      expires_on:
        type: string
      invoice_link:
        type: string
      tracking_code:
        type: string
      bank_account_id:
        type: string
      paid_at:
        type: string
      paid_date:
        type: string
      paid_time:
        type: string
      paid_amount:
        type: number
      slip:
        type: string
      items_count:
        type: integer
      customer_origin:
        type: string
      customer_type:
        type: string
      lead:
        type: boolean
      conversation_id:
        type: integer
      printed:
        type: boolean
      shipment:
        type: string
      items:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
            price:
              type: number
            quantity:
              type: integer
            note:
              type: string
            photo_url:
              type: string
            thumb_url:
              type: string
            variant:
              type: object
              properties:
                product_id:
                  type: integer
                selected:
                  type: boolean
                choices:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    price:
                      type: number
            updates:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  order_no:
                    type: integer
                  stage:
                    type: string
                  own:
                    type: boolean
                  sms_sent_to:
                    type: string
                  paid_amount:
                    type: number
                  create_at:
                    type: string
  Page_Bank_Account:
    type: object
    properties:
      id:
        type: integer
      bank_slug:
        type: string
      'no':
        type: string
      name:
        type: string
      enabled:
        type: boolean
      is_depen_creditcard:
        type: boolean
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'