swagger: '2.0'
info:
  description: List of page365 api for use in application both android and iOS.
  version: 1.0.0
  title: Page365
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: page365.net
tags:
  - name: signin
    description: Everything about signin to use page365
  - name: account
    description: Page365 user account detail
  - name: conversation
    description: Conversation between page and user
  - name: customer
    description: Customer api
schemes:
  - https
paths:
  /session/mobile/facebook_login_details:
    get:
      tags:
        - signin
      summary: Get facebook permission for login and start using page365 app
      description: ''
      responses:
        '200':
          schema:
            $ref: '#/definitions/Facbook_Permission'
          description: OK
  /session/mobile:
    post:
      tags:
        - signin
      summary: Start page365 app session
      description: >-
        Need to call this 2 time first you will get 'Waiting' now wait for 0.2
        sec and then call again you will get 'Success' along with cookie. From
        now on when you try to call another page 365 api add 'Cookie' key to
        header with value '_page365_session + page365 session cookie'
      parameters:
        - in: query
          name: user_fbid
          require: true
          shcema:
            type: string
          description: Facebook user id
        - in: query
          name: access_token
          require: true
          shcema:
            type: string
          description: Facebook access token
        - in: query
          name: name
          require: true
          shcema:
            type: string
          description: Facebook user full name
        - in: query
          name: email
          require: true
          schema:
            type: string
          description: Facebook user email
        - in: query
          name: device_type
          require: true
          schema:
            type: string
            enum:
              - ios
              - android
          description: Type of device that call api
        - in: query
          name: device_token
          require: true
          schema:
            type: string
          description: Token that generate from device
      responses:
        '200':
          schema:
            $ref: '#/definitions/Page365_Signin'
          description: OK
    delete:
      tags:
        - signin
      summary: Delete page365 app session
      parameters:
        - in: header
          name: cookie
          schema:
            type: string
          required: true
      description: ''
      responses:
        '200':
          description: OK
  /accounts.json:
    get:
      tags:
        - account
      parameters:
        - in: header
          name: cookie
          schema:
            type: string
          required: true
      responses:
        '200':
          schema:
            $ref: '#/definitions/Accounts_Response'
          description: OK
  '/{pageID}.json':
    get:
      tags:
        - account
      parameters:
        - in: header
          name: cookie
          schema:
            type: string
          required: true
        - in: path
          name: pageID
          required: true
          schema:
            type: integer
          description: ID of facebook page
      responses:
        '200':
          schema:
            $ref: '#/definitions/Page_Full_Detail'
          description: OK
  '/{pageID}/conversations.json':
    get:
      tags:
        - conversation
      parameters:
        - in: header
          name: cookie
          schema:
            type: string
          required: true
        - in: path
          name: pageID
          required: true
          schema:
            type: integer
          description: ID of facebook page
      responses:
        '200':
          schema:
            $ref: '#/definitions/Conversations_Response'
          description: OK
  '/{pageID}/conversations/{conversationID}.json':
    get:
      tags:
        - conversation
      parameters:
        - in: header
          name: cookie
          schema:
            type: string
          required: true
        - in: path
          name: pageID
          required: true
          schema:
            type: integer
          description: ID of facebook page can get from accounts.json api
        - in: path
          name: conversationID
          required: true
          schema:
            type: integer
          description: ID of conversation can get from conversations.json api
      responses:
        '200':
          schema:
            $ref: '#/definitions/Customer_Conversations_Response'
          description: OK
  '/{pageID}/conversations/{conversationID}/read.json':
    put:
      tags:
        - conversation
      parameters:
        - in: header
          name: cookie
          schema:
            type: string
          required: true
        - in: path
          name: pageID
          required: true
          schema:
            type: integer
          description: ID of facebook page can get from accounts.json api
        - in: path
          name: conversationID
          required: true
          schema:
            type: integer
          description: ID of conversation can get from conversations.json api
      responses:
        '200':
          description: OK
  '/{pageID}/customer.json':
    get:
      tags:
        - customer
      parameters:
        - in: header
          name: cookie
          schema:
            type: string
          required: true
        - in: path
          name: pageID
          required: true
          schema:
            type: integer
          description: ID of facebook page
      responses:
        '200':
          schema:
            $ref: '#/definitions/Conversations_Response'
          description: OK
securityDefinitions:
  petstore_auth:
    type: oauth2
    authorizationUrl: 'http://petstore.swagger.io/oauth/dialog'
    flow: implicit
    scopes:
      'write:pets': modify pets in your account
      'read:pets': read your pets
  api_key:
    type: apiKey
    name: api_key
    in: header
definitions:
  Facbook_Permission:
    type: object
    properties:
      read:
        type: array
        items:
          type: string
      publish:
        type: array
        items:
          type: string
      version:
        type: string
  Page365_Signin:
    type: object
    properties:
      status:
        type: string
  Page365_Signout:
    type: object
    properties:
      device_token:
        type: string
  Page_Full_Detail:
    type: object
    properties:
      name:
        type: string
        description: Name of account
      enabled:
        type: boolean
      ready:
        type: boolean
      state:
        type: integer
      fbid:
        type: string
      username:
        type: string
      instagram_account:
        type: string
      address:
        type: string
      phone:
        type: string
      email:
        type: string
      lang:
        type: string
        enum:
          - th
          - en
      unread_count:
        type: integer
      unread_orders_count:
        type: integer
      orders_count:
        type: integer
      created_on:
        type: string
      expires:
        type: string
      days_remaining:
        type: integer
      auto_renewal:
        type: boolean
      dedicated:
        type: boolean
      tour_state:
        type: integer
      order_expires_in:
        type: integer
      auth_path:
        type: string
      loading:
        type: boolean
      has_access_token:
        type: integer
      upgrade:
        type: string
      expired:
        type: boolean
      has_suggest_realm:
        type: boolean
      kronos_link:
        type: string
      qualified:
        type: boolean
      buy_keyword_enabled:
        type: boolean
      photo_sort:
        type: string
        enum:
          - older
          - latest
      logo:
        type: string
      credit_card_pkey:
        type: string
      payment_pending:
        type: boolean
      custom_domain:
        type: string
      in_debt:
        type: boolean
      require_fb_permissions:
        type: boolean
      support_link:
        type: string
      throttled:
        type: boolean
      auto_deliver_invoice:
        type: boolean
      omise:
        type: object
        $ref: '#/definitions/Omise'
      close_warning_new_package:
        type: boolean
      super_admin:
        type: boolean
      access_token:
        type: string
      suggest_realm_id:
        type: integer
      realm_id:
        type: integer
      all_realm:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
      last_active:
        type: string
      feature_recommed_banner:
        type: object
        properties:
          credit_card:
            type: boolean
          lead_gen:
            type: boolean
      recommend_features:
        type: array
        items:
          type: string
      alerts:
        type: array
        items:
          $ref: '#/definitions/Alert'
      sms:
        type: object
        $ref: '#/definitions/Sms'
      line_at:
        type: string
      instagram:
        type: object
        $ref: '#/definitions/Instagram'
      tags:
        type: array
        items:
          $ref: '#/definitions/Tag'
      plan:
        type: object
        $ref: '#/definitions/User_Plan_Detail'
      plans:
        type: object
        properties:
          solo:
            type: object
            $ref: '#/definitions/Plan_Detail'
          pro:
            type: object
            $ref: '#/definitions/Plan_Detail'
          unlimited:
            type: object
            $ref: '#/definitions/Plan_Detail'
          credit:
            type: integer
      assets_host:
        type: string
      badges:
        type: array
        items:
          $ref: '#/definitions/Badge'
      bank_accounts:
        type: array
        items:
          $ref: '#/definitions/Bank_Account_Detail'
      shipping_profile:
        type: string
  Accounts_Response:
    type: object
    properties:
      user:
        type: object
        $ref: '#/definitions/User_Detail'
      all:
        type: array
        items:
          $ref: '#definitions/Page_Detail'
      origin:
        type: string
      messages:
        type: object
      max_activity:
        type: integer
      loading:
        type: boolean
      env:
        type: string
      lang:
        type: string
  Omise:
    type: object
    properties:
      status_verified:
        type: string
      last_digits:
        type: string
      blocked:
        type: string
      payment_status:
        type: string
  Alert:
    type: object
    properties:
      id:
        type: integer
      title:
        type: string
      message:
        type: string
      state:
        type: string
      url:
        type: string
      confirm:
        type: string
      type:
        type: string
  Sms:
    type: object
    properties:
      credit:
        type: integer
      auto_refill_enabled:
        type: boolean
      auto_refill_amount:
        type: integer
  Instagram:
    type: object
    properties:
      auth_link:
        type: string
  Tag:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      color:
        type: string
      border_color:
        type: string
  User_Plan_Detail:
    type: object
    properties:
      name:
        type: string
      analytics_module:
        type: boolean
      questioner_mode:
        type: boolean
      line_module:
        type: boolean
      instagram_module:
        type: boolean
      export_report:
        type: boolean
      custom_domain:
        type: boolean
      max_reply_multiple:
        type: integer
      fb_app_id:
        type: string
      realm_id:
        type: integer
      can_upgrade_to:
        type: object
        properties:
          solo:
            type: boolean
          pro:
            type: boolean
          unlimited:
            type: boolean
  Plan_Detail:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      price:
        type: object
        properties:
          actual:
            type: integer
          yearly:
            type: integer
          monthly:
            type: integer
  Badge:
    type: object
    properties:
      type:
        type: string
      value:
        type: integer
      max:
        type: integer
      process:
        type: integer
      level:
        type: integer
      award:
        type: object
        properties:
          active:
            type: boolean
          received:
            type: boolean
  Bank_Account_Detail:
    type: object
    properties:
      id:
        type: integer
      slug:
        type: string
      name:
        type: string
      account_name:
        type: string
      account_number:
        type: string
  User_Detail:
    type: object
    properties:
      name:
        type: string
      fbid:
        type: string
      email:
        type: string
      trial_eligible:
        type: boolean
      admin:
        type: boolean
      lang:
        type: string
        enum:
          - th
          - en
      permissions_error:
        type: integer
      permissions_fresh:
        type: boolean
      auth_page_path:
        type: string
      support_link:
        type: string
  Page_Detail:
    type: object
    properties:
      enabled:
        type: boolean
      plan:
        type: string
      unread_count:
        type: integer
      can_access:
        type: boolean
      admin_exceed:
        type: boolean
      banned:
        type: boolean
      admin_amount:
        type: integer
      users:
        type: integer
      active_admins:
        type: string
      name:
        type: string
      username:
        type: string
      fbid:
        type: string
      profile_logo:
        type: string
      username_link:
        type: string
      likes:
        type: integer
      activities:
        type: array
        items:
          type: string
  Customer_Detail:
    type: object
    properties:
      tags:
        type: array
        items:
          $ref: '#/definitions/Tag'
      id:
        type: integer
      fbid:
        type: string
      lid:
        type: string
      name:
        type: string
      last_order:
        type: object
  Last_Message:
    type: object
    properties:
      own:
        type: boolean
      message:
        type: string
      auto:
        type: boolean
      sent:
        type: object
  Conversations_Response:
    type: object
    properties:
      customer:
        type: object
        $ref: '#definitions/Customer_Detail'
      last_message:
        type: object
        $ref: '#definitions/Last_Message'
      id:
        type: integer
      type:
        type: string
      read:
        type: boolean
      archived:
        type: boolean
      unread_count:
        type: integer
      last_active_at:
        type: string
      can_reply:
        type: boolean
  Customer_Detail_in_Conversation:
    type: object
    properties:
      id:
        type: integer
      fbid:
        type: string
      name:
        type: string
      phone:
        type: string
      note:
        type: string
      email:
        type: string
      address:
        type: string
      last_order:
        type: string
        enum:
          - expired
          - shipped
          - paid
          - created
      last_order_id:
        type: integer
      profile_picture:
        type: string
      tags:
        type: array
        items:
          $ref: '#/definitions/Tag'
      orders:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            'no':
              type: integer
            stage:
              type: string
              enum:
                - expired
                - shipped
                - paid
                - created
            total:
              type: integer
  Order_Updates:
    type: object
    properties:
      id:
        type: integer
      order_no:
        type: integer
      stage:
        type: string
        enum:
          - expired
          - shipped
          - paid
          - created
      own:
        type: boolean
      sms_sent_to:
        type: string
      paid_amount:
        type: integer
      created_at:
        type: string
  Message:
    type: object
    properties:
      customer_fbid:
        type: string
      customer_profile:
        type: string
      customer_name:
        type: string
      customer_id:
        type: integer
      id:
        type: integer
      own:
        type: boolean
      message:
        type: string
      auto:
        type: boolean
      created_at:
        type: string
      sent:
        type: boolean
      attachments:
        type: array
        items:
          type: object
          properties:
            url:
              type: string
  Customer_Conversations_Response:
    type: object
    properties:
      id:
        type: integer
      type:
        type: string
      read:
        type: boolean
      archived:
        type: boolean
      unread_count:
        type: integer
      last_active_at:
        type: string
      link:
        type: string
      can_reply:
        type: boolean
      customer:
        type: object
        $ref: '#/definitions/Customer_Detail_in_Conversation'
      order_updates:
        type: array
        items:
          $ref: '#/definitions/Order_Updates'
      last_message:
        type: object
        $ref: '#/definitions/Last_Message'
      messages:
        type: array
        items:
          $ref: '#definitions/Message'
  Customers_Response:
    type: object
    properties:
      meta:
        type: object
        properties:
          view:
            type: string
          customers_count:
            type: integer
          tags:
            type: array
            items:
              $ref: '#definitions/Tag'
      customers:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            fbid:
              type: string
            name:
              type: string
            note:
              type: string
            first_seen_at:
              type: string
            last_seen_at:
              type: string
            conversations_count:
              type: integer
            order_count:
              type: integer
            tags:
              type: array
              items:
                $ref: '#definitions/Tag'
            profile_picture:
              type: string
            facebook:
              type: boolean
            line:
              type: boolean
            line_at:
              type: boolean
            kronos:
              type: boolean
            offline:
              type: boolean
            instagram:
              type: boolean
externalDocs:
  description: Find out more about Swagger
  url: 'http://swagger.io'
